<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="main">
        
        <div class="main_table">
            <table>
                <tr>
                    <td>№</td>
                    <td>Имя</td>
                    <td>Пароль</td>
                    <td>Роль</td>
                </tr>
        
            </table>
        </div>

    </div>

</body>
</html>