<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="login_user">
                <form  action="/login" method="post" class="login_form">
                    <label class="login_label">Логин: </label>
                    <input class="login_input" type="text" name="username" id="name" required>
                    <label class="login_label">Пароль: </label>
                    <input class="login_input" type="password" name="password" id="password" required>
                    <input class="login_button" type="submit">
                </form>
                <% if (locals.error) { %>
                    <div class="login_error">
                        <h3>Ошибка!</h3>
                        <p><%= error %></p>
                        <button class="login_button" id="login_error">Ок!</button>
                    </div>
                  <% }; %> 
            </div>
        
        </div>
            
    </div>
    <script type="text/javascript">
        const button = document.getElementById("login_error");


        let hideWindow = () => {
            const err_block = document.getElementsByClassName('login_error')[0];
            console.log(err_block);
            err_block.style.display = 'none';
        }


        button.addEventListener("click", hideWindow);
    </script>
</body>
<html>
